<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td bgcolor="#ffffff" align="left" valign="top" style="padding: 60px 60px 60px 60px;">

      <div class="announcement big-margin">
        
        <p class="text-paragraph text-primary-large">You probably haven't received a <a class="link-primary" href="http://sidebar.io">Sidebar</a> email in a while, sorry about that! Emails will resume, but sadly we've had to stop the weekly and twice-weekly newsletters, meaning you'll now receive the <strong class="text-strong">daily</strong> edition instead.</p>

      </div>

      <h2 class="text-paragraph heading">Welcome to the new Sidebar!</h2>

      <p class="text-paragraph text-primary-large">
        After almost four years of Sidebar and over 7000 links posted, I've finally found the time give the site a much-needed update. 
      </p>

      <p class="text-paragraph text-primary-large">
        You can check out the <a class="link-primary" href="http://sidebar.io">brand new Sidebar site</a> right away, and you can also expect a new and updated newsletter in your inbox very soon!
      </p>

      <p class="text-paragraph text-primary-large">
        If you'd like to support the site, it would be a huge help if you could <a class="link-primary" href="https://twitter.com/home?status=Check%20out%20the%20newly%20redesigned%20%40SidebarIO%3A%20The%205%20Best%20Design%20Links,%20Every%20Day%20http%3A//sidebar.io">help spread the word on Twitter</a>. And if you're curious, you can also <a class="link-primary" href="https://medium.com/sidebar/a355ef27629b">learn more about the redesign here</a>. 
      </p>

      <p class="text-paragraph text-primary-large">
        As always, thanks for being a Sidebar subscriber!
      </p>

      <p class="text-paragraph text-primary-large">
        Sacha Greif
      </p>

    </td>
  </tr>
</table>